<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Kleer - Servicios de Facilitación</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/jquery.scrollgress.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-wide.css" />
			<link rel="stylesheet" href="/css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
		<style>
		.error{
			background-color: red;
			color: white;
			border-color: black;
			border: solid 1.5px;
		}
		# http://www.the-art-of-web.com/html/html5-form-validation/
		input:required:invalid, input:focus:invalid {
	    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
	    background-position: right top;
	    background-repeat: no-repeat;
	    -moz-box-shadow: none;
	  }
	  input:required:valid {
	    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
	    background-position: right top;
	    background-repeat: no-repeat;
	  }


		</style>
	</head>
	<body class="index">

		<!-- Header -->
			<header id="header" class="alt">
				<h1 id="logo"><a href="/">Facilitación</a><span><nbsp/><a href="http://kleer.la"> by <img src="/images/kleer_logo.png"/></a></span></h1>
				<nav id="nav">
						<ul>
						<li class="current"><a href="#banner">Bienvenidos</a></li>
						<li><a href="#tipo">Qué hacemos</a></li>
						<li><a href="#cta">Contacto</a></li>

					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">

				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">

					<header>
						<h2>Facilitación</h2>
					</header>
					<p>Lográ <strong>momentos y conversaciones mágicas</strong>
					<br />
					para conseguir <strong>resultados asombrosos</strong>
					<br />
					by <a href="http://kleer.la">Kleer</a>.</p>
					<footer>
						<ul class="buttons vertical btn-kleer btn-warning">
							<li><a href="#Facilitación"
								 class="button fit scrolly">¡Contame más!</a></li>
						</ul>
					</footer>

				</div>

			</section>

		<!-- Main -->
			<article id="main">

				<header class="special container">
<!--					<span class="icon fa-bar-chart-o"></span> -->
    		  <a name="Facilitación"/>
					<h2><strong>¿Facilitación?</strong></h2>
					<p>La disciplina de la facilitación agrupa todas las
						actividades y tareas que una o varias personas realizan
						para que un grupo de participantes logre ejecutar una
						<strong>reunión productiva</strong>. A través de ella satisfacemos las
						necesidades de cualquier grupo que se reúne con un
						propósito en común, ya sea para la <strong>toma de decisiones</strong>,
						la <strong>resolución de problemas</strong>, o simplemente el <strong>intercambio
						de ideas</strong> e información.
					</p>
					<p>
					<br />
						<a href="#" class="image featured"><img src="http://media.kleer.la/images/risas-fg.JPG" alt="" /></a>
					</p>
				</header>

				<!-- One -->
					<section class="wrapper style2 container special-alt" id="tipo">
						<div class="row 50%">
							<div class="8u 12u(narrower)">

								<header>
									<h2>Facilitamos <strong>eventos</strong> que ayudan
										a los equipos a lograr sus objetivos.</h2>
								</header>
								<p>Diseñamos ambientes propicios para crear <strong>sinergia entre las personas</strong>,
									espacios de encuentro con dinámicas que saquen el máximo provecho de lo que cada participante
									tiene para aportar. Como <strong>facilitadores</strong> asistimos al grupo a encauzar sus conversaciones.
									Evitamos el protagonismo y las distracciones. ​​¡Nuestro foco está en dar ​espacio a los participantes​ para que la magia emerja!​
								</p>
<!--								<footer>
									<ul class="buttons">
										<li><a href="#" class="button">Find Out More</a></li>
									</ul>
								</footer>
-->
							</div>
							<div class="4u 12u(narrower) important(narrower)">

								<ul class="featured-icons">
									<li><img src="/images/open-space-ico.jpg" alt="Open Space" width=140 height=140 /></li>
									<li><img src="/images/fg-ico.jpg" alt="Facilitación Gráfica" width=140 height=140 /></li>
									<li><img src="/images/hack-ico.jpg" alt="Hackathon" width=140 height=140 /></li>
									<li><img src="/images/innovacion-ico.jpg" alt="Innovación/Estrategia" width=140 height=140 /></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Two -->
				<!--
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>This is Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>

							</div>
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Also Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>

							</div>
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Probably Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>

							</div>
						</div>
					</section>
-->
				<!-- Three -->
					<section class="wrapper style3 container special">

						<header class="major">
							<h2>Nuestros servicios</h2>
						</header>

						<div class="row">
							<div class="6u 12u(narrower)">

								<section id="FacilitacionGrafica">
									<a href="/facilitacion-grafica" class="image featured"><img src="http://media.kleer.la/images/cierre%20fg%20madrid.png" alt="Servicios de Facilitación Gráfica" /></a>
									<header>
										<a href="/facilitacion-grafica"><h3>Facilitación Gráfica</h3></a>
									</header>
									<p>
									Utilizamos lenguaje gráfico para ilustrar charlas, ponencias, reuniones, conferencias y resultados de las actividades de equipos de trabajo. A esta actividad también se le llama Graphic Recording, la cual facilita el entendimiento y la recordación con piezas de alto impacto. También ofrecemos talleres de Facilitación Gráfica.</p>
</p>
									<br/>
									<a href="/facilitacion-grafica">¡Conocé más sobre estos servicios!</a>
									</p>
								</section>
							</div>

							<div class="6u 12u(narrower)">

								<section id="InnovacionCreatividad">
									<a href="/innovacion-creatividad" class="image featured"><img src="http://media.kleer.la/images/manos-postits.JPG" alt="" /></a>
									<header>
										<a href="/innovacion-creatividad"><h3>Innovación y Creatividad</h3></a>
									</header>
									<p>Realizamos encuentros para potenciar tanto la creación de más y mejores ideas como su ejecución y puesta en práctica.<br/></p>
									<p><a href="/innovacion-creatividad">¡Conocé más sobre estos servicios!</a></p>
								</section>

							</div>
						</div>

						<div class="row">
							<div class="6u 12u(narrower)">

								<section id="PlanificacionEstrategica">
									<a href="/planificacion-estrategica" class="image featured"><img src="/images/hackathon.png" alt="" /></a>
									<header>
										<a href="/planificacion-estrategica"><h3>Planificación estratégica</h3></a>
									</header>
									<p>Jornadas donde equipos multidisciplinarios trabajan enfocados y en forma iterativa e incremental para lograr un objetivo pre-acordado, en general llevando adelante el desarrollo de un producto o un prototipo, aunque también se puede utilizar este formato para generar o refinar ideas.
									<br/>
									<a href="/planificacion-estrategica">¡Conocé más sobre estos servicios!</a></p>
								</section>
							</div>

							<div class="6u 12u(narrower)">

								<section id="DinámicasEventos">
									<a href="/dinamicas-eventos" class="image featured"><img src="/images/innovacion.jpg" alt="" /></a>
									<header>
										<a href="/dinamicas-eventos"><h3>Dinámicas y eventos</h3></a>
									</header>
									<p>Diseñamos ambientes que generan sinergia entre las personas. Nos enfocamos en la participación activa de todos y la co-creación de ideas y soluciones.
									<br/><a href="/dinamicas-eventos">¡Conocé más sobre estos servicios!</a>
									</p>
								</section>
							</div>
						</div>
<!--
						<footer class="major">
							<ul class="buttons">
								<li><a href="#" class="button">See More</a></li>
							</ul>
						</footer>
-->
					</section>

			</article>

		<!-- CTA -->
			<section id="cta">

				<header>
					<h2>¿List@ para <strong>iniciar el cambio</strong>?</h2>
					<p></p>
				</header>
				<div class="row">
					<div class="3u"></div>
					<div class="6u 12u(narrower)">
						<%if @errormsg.to_s!='' && @errormsg!='OK'%>
							<div class="error">
					     <h3>Ups, ocurrió un error</h3>
					     <p><%= @errormsg%></p>
							</div>
						<%end%>
						<%if @errormsg=='OK'%>
							<div >
					     <h3>¡Enviado! Nos contactaremos contigo en breve.</h3>
							</div>
						<%end%>
						<form method="POST" action="/contacto/facilitacion" onsubmit="return checkForm(this);">
						<input type="email" name="email" class="suscription-textbox" placeholder="tu@correo.com" value="<%= @f[:email]%>" required/>
						<br/>
						<input type="text" name="fname" class="suscription-textbox" placeholder="Nombre" value="<%= @f[:fname]%>" required pattern="\S{3,}.*"/>
						<br/>
						<input type="text" name="lname" class="suscription-textbox" placeholder="Apellido" value="<%= @f[:lname]%>" required pattern="\S{3,}.*"/>
						<br/>
						<input type="text" name="zone" class="suscription-textbox" placeholder="Tu Ciudad" value="<%= @f[:zone]%>"/>
						<br/>
						<input type="text" name="interest" class="suscription-textbox" placeholder="¿Qué actividad te interesa?" value="<%= @f[:interest]%>"/>
					</form>
					</div>
				</div>
				<footer>
					<br/>
					<ul class="buttons">
						<li><a class="button vertical btn-kleer btn-warning" onclick="$('form').submit()">
							¡Contactanos!</a></li>
					</ul>
				</footer>

			</section>

		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
					<li><a href="http://twitter.com/kleer_la" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="http://facebook.com/kleer.la" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://plus.google.com/106280725763107001222" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
					<li><a href="https://github.com/kleer-la" class="icon circle fa-github"><span class="label">Github</span></a></li>
				</ul>

				<ul class="copyright">
					<li>&copy; Kleer</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

<script type="text/javascript">

  function checkForm(form)
  {
    // validation fails if the input is blank
    if(form.email.value == "" || form.lname.value == "" || form.fname.value == "") {
      alert("Email, Nombre y Apellido son datos requeridos para contactarnos!");
      form.email.focus();
      return false;
    }

    // regular expression to match names
    var re = /\S{2,}.*/;

    // validation fails if the input doesn't match our regular expression
    if(!re.test(form.lname.value)) {
      alert("Error: el apellido parece muy corto");
      form.lname.focus();
      return false;
    }
		if(!re.test(form.fname.value)) {
      alert("Error: el nombre parece muy corto");
      form.fname.focus();
      return false;
    }

    // validation was successful
    return true;
  }

</script>

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-68214006-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
