<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Facilitaciones de Kleer</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			<link rel="stylesheet" href="css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="index">

		<!-- Header -->
			<header id="header" class="alt">
				<h1 id="logo"><a href="/">Facilitación</a><span><nbsp/><a href="http://kleer.la"> by <img src="images/kleer_logo.png"/></a></span></h1>
				<nav id="nav">
					<ul>
						<li class="current"><a href="#banner">Bienvenidos</a></li>
						<li><a href="#tipo">Qué hacemos</a></li>
						<li><a href="#contacto">Contacto</a></li>

					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">

				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">

					<header>
						<h2>Facilitación</h2>
					</header>
					<p>Lográ <strong>momentos y conversaciones mágicas</strong>
					<br />
					para conseguir <strong>resultados asombrosos</strong>
					<br />
					by <a href="http://kleer.la">Kleer</a>.</p>
					<footer>
						<ul class="buttons vertical btn-kleer btn-warning">
							<li><a href="#Facilitación"
								 class="button fit scrolly">¡Contame más!</a></li>
						</ul>
					</footer>

				</div>

			</section>

		<!-- Main -->
			<article id="main">

				<header class="special container">
<!--					<span class="icon fa-bar-chart-o"></span> -->
    		  <a name="Facilitación"/>
					<h2><strong>¿Facilitación?</strong></h2>
					<p>La disciplina de la facilitación agrupa todas las
						actividades y tareas que una o varias personas realizan
						para que un grupo de participantes logre ejecutar una
						<strong>reunión productiva</strong>. A través de ella satisfacemos las
						necesidades de cualquier grupo que se reúne con un
						propósito en común, ya sea para la <strong>toma de decisiones</strong>,
						la <strong>resolución de problemas</strong>, o simplemente el <strong>intercambio
						de ideas</strong> e información.
					</p>
					<p>
					<br />
						<a href="#" class="image featured"><img src="images/risas-fg.png" alt="" /></a>
					</p>
				</header>

				<!-- One -->
					<section class="wrapper style2 container special-alt" id="tipo">
						<div class="row 50%">
							<div class="8u 12u(narrower)">

								<header>
									<h2>Facilitamos <strong>eventos</strong> que ayudan
										a los equipos a lograr sus objetivos.</h2>
								</header>
								<p>Diseñamos ambientes propicios para crear <strong>sinergia entre las personas</strong>,
									espacios de encuentro con dinámicas que saquen el máximo provecho de lo que cada participante
									tiene para aportar. Como <strong>facilitadores</strong> asistimos al grupo a encauzar sus conversaciones.
									Evitamos el protagonismo y las distracciones. ​​¡Nuestro foco está en dar ​espacio a los participantes​ para que la magia emerja!​
								</p>
<!--								<footer>
									<ul class="buttons">
										<li><a href="#" class="button">Find Out More</a></li>
									</ul>
								</footer>
-->
							</div>
							<div class="4u 12u(narrower) important(narrower)">

								<ul class="featured-icons">
									<li><a href="#OST">
	 								  <img src="images/open-space-ico.jpg" alt="Open Space" width=140 height=140 />
										</a></li>
									<li><a href="#FG">
										<img src="images/fg-ico.jpg" alt="Facilitación Gráfica" width=140 height=140 />
									  </a></li>
									<li><a href="#Hackathon">
										<img src="images/hack-ico.jpg" alt="Hackathon" width=140 height=140 />
									  </a></li>
									<li><a href="#Innovacion">
										<img src="images/innovacion-ico.jpg" alt="Innovación/Estrategia" width=140 height=140 />
									  </a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Two -->
				<!--
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>This is Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>

							</div>
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Also Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>

							</div>
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Probably Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>

							</div>
						</div>
					</section>
-->
				<!-- Three -->
					<section class="wrapper style3 container special">

						<header class="major">
							<h2>¿Cómo lo hacemos?</h2>
						</header>

						<div class="row">
							<div class="6u 12u(narrower)">

								<section id="OST">
									<a href="#" class="image featured"><img src="images/openspace.jpg" alt="" /></a>
									<header>
										<h3>Facilitación de Reuniones Open Space</h3>
									</header>
									<p><a href="http://en.wikipedia.org/wiki/Open_Space_Technology">Open Space Technology</a> es un formato de evento que permite que personas de organizaciones, comunidades, compañías, departamentos, etc. se reúnan en un mismo lugar donde todos los participantes pueden expresarse respecto al tema o problema que los convoca.
									El objetivo central es generar nuevos puntos de vista frente a los problemas, que sirvan tanto para resolver temas puntuales como para generar los planes estratégicos de la entidad.
									<br/>
									<a href="https://plus.google.com/u/0/photos/+CarlosPeix/albums/6063570765256243185">Descubrí fotos de un Open Space realizado en Medellín durante 2014.</a>
									</p>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section id="FG">
									<a href="#" class="image featured"><img src="images/fg.png" alt="" /></a>
									<header>
										<h3>Facilitación Gráfica</h3>
									</header>
									<p>Utilizamos lenguaje gráfico para ilustrar charlas, ponencias, conferencias y resultados de las actividades de equipos de trabajo.
									También brindamos <a href="https://www.facebook.com/media/set/?set=a.10152779564852079.1073741919.116606177078&type=3">talleres de Facilitación Gráfica</a> para que personas y equipos puedan comunicarse más efectivamente.
                  <br/>
                  <br/>
 									Conocé los blogs de facilitadores gráficos de Kleer:
									<ul>
									<li><a href="http://claumsandoval.tumblr.com/">Blog de Claudia</a></li>
									<li><a href="https://pablotortorella.wordpress.com/tag/facilitacion/">Blog de Pablitux</a></li>
									</ul>
									</p>
								</section>

							</div>
						</div>
						<div class="row">
							<div class="6u 12u(narrower)">

								<section id="Hackathon">
									<a href="#" class="image featured"><img src="images/hackathon.png" alt="" /></a>
									<header>
										<h3>Hackathon</h3>
									</header>
									<p>Jornadas donde equipos multidisciplinarios trabajan enfocados y en forma iterativa e incremental para lograr un objetivo pre-acordado, en general llevando adelante el desarrollo de un producto o un prototipo, aunque también se puede utilizar este formato para generar o refinar ideas.
									<br/>
									<a href="http://campus.instituto.almagro.ort.edu.ar/analista-siste/hackathon">Mirá el video de presentación del hackathon ORT.</a>
									<br/>
									(1 min)

									</p>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section id="Innovacion">
									<a href="#" class="image featured"><img src="images/innovacion.jpg" alt="" /></a>
									<header>
										<h3>Sesiones de Innovación y Estrategia</h3>
									</header>
									<p>Nos especializamos en crear contextos creativos en múltiples industrias y países. Utilizamos reglas simples y a la vez muy poderosas para estimular la creatividad en personas y equipos. Solemos llevarlas a cabo para identificación y resolución de conflictos en el marco de equipos de trabajo, así como también para idear nuevas características y soluciones en diversos escenarios laborales complejos. También realizamos estas sesiones para favorecer la búsqueda y el aprovechamiento de oportunidades.
									<br/><a href="http://www.kleer.tv/2014/01/webinar-lean-en-accion-para-innovar-y.html">Mirá el video de Innovación para emprededores</a>
									<br/>(28 min)
									</p>
								</section>
							</div>
						</div>
<!--
						<footer class="major">
							<ul class="buttons">
								<li><a href="#" class="button">See More</a></li>
							</ul>
						</footer>
-->
					</section>

			</article>

		<!-- CTA -->
			<section id="cta">

				<header>
					<h2>¿Listo para <strong>iniciar el cambio</strong>?</h2>
					<p></p>
				</header>
				<footer>
					<ul class="buttons">
						<li><a href="http://www.kleer.la/" class="button vertical btn-kleer btn-warning">
							¡Contactanos!</a></li>
					</ul>
				</footer>

			</section>

		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
					<li><a href="http://twitter.com/kleer_la" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="http://facebook.com/kleer.la" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://plus.google.com/106280725763107001222" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
					<li><a href="https://github.com/kleer-la" class="icon circle fa-github"><span class="label">Github</span></a></li>
				</ul>

				<ul class="copyright">
					<li>&copy; Kleer</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>
			<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68214006-1', 'auto');
  ga('send', 'pageview');

</script>
	</body>
</html>
