<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Facilitaciones de Kleer</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			<link rel="stylesheet" href="css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="index">

		<!-- Header -->
			<header id="header" class="alt">
				<h1 id="logo"><a href="/">Facilitación<span><nbsp/> by Kleer</span></a></h1>
				<nav id="nav">
					<ul>
						<li class="current"><a href="index.html">Bienvenidos</a></li>
						<li><a href="#tipo">Tipos Eventos</a></li>
						<li><a href="#contacto">Contacto</a></li>

<!--

						<li class="submenu">
							<a href="">Layouts</a>
							<ul>
								<li><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Dolore Sed</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Lorem Magna</a></li>
										<li><a href="#">Sed Magna</a></li>
										<li><a href="#">Ipsum Nisl</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#" class="button special">Sign Up</a></li>
-->
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">

				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">

					<header>
						<h2>Facilitación</h2>
					</header>
					<p>Logra  <strong>momentos y conversaciones mágicas</strong>
					<br />
					para conseguir <strong>resultados asombrosos</strong>
					<br />
					by <a href="http://kleer.la">Kleer</a>.</p>
					<footer>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">¡cuentame más!</a></li>
						</ul>
					</footer>

				</div>

			</section>

		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-bar-chart-o"></span>
					<h2><strong>¿Facilitación?</strong></h2>
					<p>La disciplina de la <strong>facilitación</strong> agrupa todas las actividades y tareas que una o varias personas realizan para que un grupo de participantes logre ejecutar una reunión productiva.
					<br />
					La </strong>facilitación</strong> satisface las necesidades de cualquier grupo que se reúne con un propósito en común, ya sea para la toma de decisiones, la resolución de problemas, o simplemente el intercambio de ideas e información.
					<br />
					</p>
					<p>
					<br />
						<a href="#" class="image featured"><img src="images/grupo.png" alt="" /></a>
					</p>
				</header>

				<!-- One -->
					<section class="wrapper style2 container special-alt" id="tipo">
						<div class="row 50%">
							<div class="8u 12u(narrower)">

								<header>
									<h2>Facilitamos distintos <strong>eventos</strong>, ajustados a los objetivos del equipo.</h2>
								</header>
								<p>El <strong>Facilitador</strong> es quien asiste al grupo de personas a encauzar las conversaciones colectivas, no conduce el grupo, ni tampoco trata de distraer o entretener.
El elemento que da existencia a esta relación es la dinámica que el <strong>facilitador</strong> genera en el grupo de personas..</p>
<!--								<footer>
									<ul class="buttons">
										<li><a href="#" class="button">Find Out More</a></li>
									</ul>
								</footer>
-->
							</div>
							<div class="4u 12u(narrower) important(narrower)">

								<ul class="featured-icons">
									<li><a href="#OST"><span class="icon fa-clock-o"><span class="label">Open Space</span></span></a></li>
									<li><a href="#FG"><span class="icon fa-volume-up"><span class="label">Facilitación Gráfica</span></span></a></a></li>
									<li><a href="#Hackathon"><span class="icon fa-laptop"><span class="label">Hackathon</span></span></a></li>
									<li><a href="#Innovacion"><span class="icon fa-inbox"><span class="label">Sesiones de Innovación</span></span></a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Two -->
				<!--
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>This is Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>

							</div>
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Also Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>

							</div>
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Probably Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>

							</div>
						</div>
					</section>
-->
				<!-- Three -->
					<section class="wrapper style3 container special">

						<header class="major">
							<h2>¿Cómo lo hacemos?</h2>
						</header>

						<div class="row">
							<div class="6u 12u(narrower)">

								<section id="OST">
									<a href="#" class="image featured"><img src="images/openspace.jpg" alt="" /></a>
									<header>
										<h3>Facilitación de Reuniones Open Space</h3>
									</header>
									<p><a href="http://en.wikipedia.org/wiki/Open_Space_Technology">Open Space Technology</a> esun formato de evento que permite que personas de organizaciones, comunidades, compañías, departamentos, etc. se reúnan en un mismo lugar donde todos los participantes pueden expresarse respecto al tema o problema que los convoca.
									El objetivo central es generar nuevos puntos de vista frente a los problemas, que sirvan tanto para resolver temas puntuales como para generar los planes estratégicos de la entidad.</p>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section id="FG">
									<a href="#" class="image featured"><img src="images/fg.png" alt="" /></a>
									<header>
										<h3>Facilitación Gráfica</h3>
									</header>
									<p>Utilizamos lenguaje gráfico para ilustrar las sesiones de keynote speakers o los resultados de las actividades de equipos de trabajo.
									También brindamos <a href="https://www.facebook.com/media/set/?set=a.10152779564852079.1073741919.116606177078&type=3">talleres de Facilitación Gráfica</a> para que personas y equipos puedan comunicarse más efectivamente. <a href="http://claumsandoval.tumblr.com/">Blog de Claudia</a>.</p>
								</section>

							</div>
						</div>
						<div class="row">
							<div class="6u 12u(narrower)">

								<section id="Hackathon">
									<a href="#" class="image featured"><img src="images/hackathon.png" alt="" /></a>
									<header>
										<h3>Hackathon</h3>
									</header>
									<p>Jornadas donde equipos multidisciplinarios trabajan enfocados y en forma iterativa e incremental para lograr un objetivo pre-acordado, en general llevando adelante el desarrollo de un producto o un prototipo, aunque también se puede utilizar este formato para generar o refinar ideas.
									<br/>
									<a href="http://campus.instituto.almagro.ort.edu.ar/analista-siste/hackathon">Video de presentación de la hackathon ORT</a>

									</p>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section id="Innovacion">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
									<header>
										<h3>Sesiones de Innovación y Estrategia</h3>
									</header>
									<p>Nos especializamos en crear contextos creativos en múltiples industrias y países. Utilizamos reglas simples y a la vez muy poderosas para estimular la creatividad en personas y equipos. Solemos llevarlas a cabo para identificación y resolución de conflictos en el marco de equipos de trabajo, así como también para idear nuevas características y soluciones en diversos escenarios laborales complejos. También realizamos estas sesiones para favorecer la búsqueda y el aprovechamiento de oportunidades.
									<br/><a href="http://www.kleer.tv/2014/01/webinar-lean-en-accion-para-innovar-y.html">Video de Innovación para emprededores</a> (28min)
									</p>
								</section>
							</div>
						</div>
<!--
						<footer class="major">
							<ul class="buttons">
								<li><a href="#" class="button">See More</a></li>
							</ul>
						</footer>
-->
					</section>

			</article>

		<!-- CTA -->
			<section id="cta">

				<header>
					<h2>¿Listo para <strong>Cambiar</strong>?</h2>
					<p></p>
				</header>
				<footer>
					<ul class="buttons">
						<li><a href="#" class="button special">!Contactanos¡</a></li>
					</ul>
				</footer>

			</section>

		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
					<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
					<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
				</ul>

				<ul class="copyright">
					<li>&copy; Kleer</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>

			</footer>

	</body>
</html>